@model IEnumerable<Pocket.Models.IncomeSource>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Quick View", "List")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IconFile.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.LoginID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IconFile.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.LoginID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SourceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SourceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SourceID })
        </td>
    </tr>
}

</table>
