@model Pocket.ViewModels.ReportData

@{
    ViewBag.Title = "List";
}

<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/themes/redmond/jquery.ui.datepicker.css" rel="stylesheet" />
<link href="~/Content/themes/redmond/jquery.ui.dialog.css" rel="stylesheet" />

<script src="~/Scripts/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.src.js"></script>
<script src="~/Scripts/QIE/JqGrid.js"></script>
<script src="~/Scripts/QIE/DatePickerReady.js"></script>

<br />

<p>
   <b>Expense</b> <label for="ExpenseTo">From:</label>
    @Html.TextBox("ExpenseFrom", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToShortDateString()) <label for="ExpenseTo">To:</label>
    @Html.TextBox("ExpenseTo", DateTime.Now.ToShortDateString())
</p>
<p>

    <label for="EventID">Select Event:</label>
    <select name="EventID" id="EventID" onchange="ReloadGrid()">
        <option label="" value="" />
        <optgroup label="My Events" />
        @foreach (var item in Model.MyEvents)
        {
            <option label="@item.Name" value="@item.EventID" />
        }
        <optgroup label="Friends Events" />
        @foreach (var item in Model.SharedEvents)
        {
            <option label="@item.Name" value="@item.EventID" />
        }

    </select>
    <label for="AccountID">Select Account:</label>
    <select name="AccountID" id="AccountID" onchange="ReloadGrid()">
        <option label="" value="" />
        @foreach (var item in Model.Accounts)
        {
            <option label="@item.Name" value="@item.AccountID" />
        }
    </select>
    <label for="CategoryID">Select Category:</label>
    <select name="SubcatID" id="SubcatID" onchange="ReloadGrid()">
        <option label="" value="" />

        @foreach (var item in Model.Categories)
        {
            <optgroup label="@item.Name" />
            foreach (var i in item.Subcategories)
            {
                <option label="@i.Name" value="@i.SubcategoryID" />
            }

        }
    </select>
    <label for="PayeeID">Select Payee:</label>
    <select name="PayeeID" id="PayeeID" onchange="ReloadGrid()">
        <option label="" value="" />
        @foreach (var item in Model.Payees)
        {
            <option label="@item.Name" value="@item.PayeeID" />
        }
    </select>
    <label for="VendorID">Select Vendor:</label>
    <select name="VendorID" id="VendorID" onchange="ReloadGrid()">
        <option label="" value="" />
        @foreach (var item in Model.Vendors)
        {
            <option label="@item.Name" value="@item.VendorID" />
        }
    </select>
    
</p>



<table id="rowed2"></table>
<div id="prowed2"></div>
<div>
    @Html.AntiForgeryToken()
</div>
<script type="text/javascript">
    var colNames = ['ExpenseID', 'Expense Date', 'Category', 'Account', 'Amount', 'Payee', 'Vendor','Event', 'Repeat', 'Comments'];
    var colModel = [
        { name: 'ExpenseID', index: 'ExpenseID', width: 55, key: true, hidden: true },
        { name: 'ExpenseDate', index: 'ExpenseDate', width: 100, sorttype: "date", datefmt: 'mm/dd/yyyy' },
        { name: 'SubcategoryID', index: 'SubcategoryID', width: 100 },
        { name: 'AccountID', index: 'AccountID', width: 100 },
        { name: 'Amount', index: 'Amount', width: 100 },
        { name: 'PayeeID', index: 'PayeeID', width: 100 },
        { name: 'VendorID', index: 'VendorID', width: 100 },
        { name: 'EventID', index: 'EventID', width: 100},
        { name: 'Repeat', index: 'Repeat', width: 100 },
        { name: 'Comments', index: 'Comments', width: 100, editable: false, formatter: CommentFormatter }

    ];
    
    function ReloadGrid() {
        jQuery("#rowed2").jqGrid().trigger("reloadGrid");
    }


    var postData = {};
    postData["EventID"] = function () { return $("#EventID").val() };
    postData["AccountID"] = function () { return $("#AccountID").val() };
    postData["SubcatID"] = function () { return $("#SubcatID").val() };
    postData["PayeeID"] = function () { return $("#PayeeID").val() };
    postData["VendorID"] = function () { return $("#VendorID").val() };
    postData["ExpenseFrom"] = function () { return $("#ExpenseFrom").val() };
    postData["ExpenseTo"] = function () { return $("#ExpenseTo").val() };

    createJQGrid('/report/JAdvanceFilter', colNames, colModel, 'ExpenseID', "", "Expense List", "#rowed2", '#prowed2', postData, { addgrid: false, editgrid: false });


    /////////////////////
    //   Expense Comments
    ///////////////////////

    function CommentFormatter(cellvalue, options, rowObject) {
        // format the cellvalue to new format

        if (cellvalue && cellvalue.length > 0) {
            var tag = "<a href='#' onclick='ShowComments(" + rowObject[0] + ")'>" + cellvalue + "</a>";
            return tag;
        }
        else
            return "<label></label>";

    }

    function ShowComments(expenseID) {
        $("#hdnExpenseID").val(expenseID);

        if (firsttime) {
            dialog = $("#commentsDialog").dialog({
                autoOpen: false,
                height: 400,
                width: 450,
                show: {
                    effect: "blind",
                    duration: 1000
                }
            });
            dialog.dialog("open");
            var commPostData = {};
            commPostData["ExpenseID"] = function () { return $("#hdnExpenseID").val() };

            createJQGrid('/expense/JExpenseComments', commColNames, commColModel, 'CommentID', "/expense/jcommentedit", "Add/View Comments", "#lstComments", '#pgrComments', commPostData, { sidx: 'CommentID', sord: 'desc', editgrid: false, editExtraParams: { ExpenseID: function () { return $("#hdnExpenseID").val() } } });
            firsttime = false;
        }
        dialog.dialog("open");
        jQuery("#lstComments").jqGrid().trigger("reloadGrid");
    }
    var commColNames = ['CommentID', 'ExpenseID', 'Comment', 'By', 'Date'];
    var commColModel = [
        { name: 'CommentID', index: 'CommentID', width: 55, key: true, hidden: true },
        { name: 'ExpenseID', index: 'ExpenseID', width: 55, hidden: true },
        { name: 'Comment', index: 'Comment', width: 155, key: true, editable: true, edittype: "textarea", editoptions: { rows: "3", cols: "25" } },
        { name: 'UserID', index: 'UserID', width: 55, editable: false },
        { name: 'CommentDate', index: 'CommentDate', width: 55, editable: false }
    ];
    var firsttime = true;
    var dialog;
    $(document).ready(function () {
        $("#ExpenseFrom").datepicker({
            onSelect: function (dateText) {
                ReloadGrid();
            }
        });
        $("#ExpenseTo").datepicker({
            onSelect: function (dateText) {
                ReloadGrid();
            }
        });
    });
</script>
<input type="hidden" id="hdnExpenseID" />
<div id="commentsDialog" title="Comments">
    <table id="lstComments" style="height:100%"></table>
    <div id="pgrComments"></div>

</div>