@{
    ViewBag.Title = "Homepage Chart";
}

<script src="~/Scripts/Highcharts-4.1.5/js/highcharts.js"></script>

<p>
    <div class="row">
        <div class="col-xs-4">
            <div class="input-group">
                <span class="input-group-addon">Month:</span>
                <select name="ddlMonth" id="ddlMonth" onchange="LoadChart()" class="form-control">
                    <option value="1" label="January" />
                    <option value="2" label="February" />
                    <option value="3" label="March" />
                    <option value="4" label="April" />
                    <option value="5" label="May" />
                    <option value="6" label="June" />
                    <option value="7" label="July" />
                    <option value="8" label="August" />
                    <option value="9" label="September" />
                    <option value="10" label="October" />
                    <option value="11" label="November" />
                    <option value="12" label="December" />
                </select>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                <span class="input-group-addon">Year:</span>
                <select name="ddlYear" id="ddlYear" onchange="LoadChart()" class="form-control">
                    @for (int i = 2001; i < 2020; i++)
                    {
                        <option value="@i" label="@i" />
                    }
                </select>
            </div>
        </div>


    </div>
    @Html.AntiForgeryToken()
</p>


<div id="homechart">

</div>


<script>
    $("#ddlMonth").val('@DateTime.Today.Month');
    $("#ddlYear").val('@DateTime.Today.Year');


    function LoadChart() {

        PostData("/Chart/JHomeChartData", { Month: $("#ddlMonth").val(), Year: $("#ddlYear").val() }, function (response) {
            var d = response.rows;

            $('#homechart').highcharts({
                title: {
                    text: 'Monthly Budget and Expense',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Summary view',
                    x: -20
                },
                xAxis: {
                    categories: d.categories
                },
                yAxis: {
                    title: {
                        text: 'Days in month'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                
                
                series: d.series
            });


        });

    }
    LoadChart();
</script>
