@using Microsoft.AspNet.Identity
@using Pocket.Common
@model Pocket.Models.ManageUserViewModel

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>. Your registered email address is <strong>@User.ApplicationUser().Email</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })</span>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

        </div>

    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })</span>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

        </div>

    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })</span>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

        </div>

    </div>

    <div class="form-group">
        <div class="input-group-lg">
            <input type="submit" value="Change password" class="btn btn-primary" />
        </div>
    </div>
}
