@model IEnumerable<Pocket.Models.Income>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Quick View", "List")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncomeDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncomeDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IncomeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IncomeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IncomeID })
        </td>
    </tr>
}

</table>
