{{#.}}
	<li class="swipeout target-swipeout-{{TargetID}}" id="{{TargetID}}">
        <a href="Pages/SavingList.html?TargetID={{TargetID}}" class="swipeout-content item-link item-content">
            {{#js_compare "this.SavingAmount >= this.TargetAmount"}}
            <div class="item-media"><span class="badge bg-lightblue"><i class="icon ion-disc"></i> </span></div>
            {{else}}
            <div class="item-media"><span class="badge bg-red"><i class="icon ion-disc"></i> </span></div>
            {{/js_compare}}
            
            <div class="item-inner">
                <div class="item-title-row">
                    <div class="item-title">{{Name}}</div>
                    <div class="item-after">
                        <span class="color-red">{{TargetAmount}}</span>
                        <span class="color-black">&nbsp;/&nbsp;</span>
                        <span class="color-blue">{{SavingAmount}}</span>
                    </div>
                </div>
                <div class="item-subtitle">Target Date: {{#to_date TargetDateText}}{{/to_date}}</div>
            </div>
        </a>
        <div class="swipeout-actions-right">
            <a href="#" class="target-delete-link bg-red" data-id="{{TargetID}}">Delete</a>
        </div>
        <div class="swipeout-actions-left">
            <a href="Pages/Target.html?id={{TargetID}}" class="bg-blue" data-id="{{TargetID}}">Edit</a>
        </div>
</li>
{{/.}}