    
    
        <form id="expenseedit" class="">
            <div class="list-block">
                <input name="ExpenseID" type="hidden" value="{{model.ExpenseID}}">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon ion-ios-calendar-outline color-form-icon"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Date</div>
                                <div class="item-input">
                                    <input name="ExpenseDate" type="date" placeholder="Expense Date" value="{{model.ExpenseDate}}" />
                                </div>
                            </div>
                        </div>
                    </li>

                    

                    <li>
                        <!-- Additional "smart-select" class -->
                        <a href="#" class="item-link smart-select" data-back-on-select="true">
                            <!-- select -->
                            <select name="ExpenseCategoryID" class="expense-category-list">
                                {{#each model.CategoryGroups}}
                                {{#unless Name}}
                                {{#each Categories}}
                                <option value="{{CategoryID}}">{{Name}}</option>
                                {{/each}}
                                {{else}}
                                <optgroup label="{{Name}}">
                                    {{#each Categories}}
                                    <option value="{{CategoryID}}">{{Name}}</option>
                                    {{/each}}
                                </optgroup>
                                {{/unless}}
                                {{/each}}
                            </select>
                            <div class="item-content">
                                <div class="item-media"><i class="icon ion-android-folder color-form-icon"></i></div>
                                <div class="item-inner">
                                    <!-- Select label -->
                                    <div class="item-title">Category</div>
                                    <!-- Selected value, not required -->
                                    <div class="item-after">{{model.CategoryText}} </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <!-- Additional "smart-select" class -->
                        <a href="#" class="expense-subcategory-link item-link smart-select" data-back-on-select="true">
                            <!-- select -->
                            <select name="ExpenseSubcategoryID" class="expense-subcategory-list">
                                {{#each model.Subcategories}}
                                <option value="{{SubcategoryID}}">{{Name}}</option>
                                {{/each}}
                            </select>
                            <div class="item-content">
                                <div class="item-media"><i class="icon ion-filing color-form-icon"></i></div>
                                <div class="item-inner">
                                    <!-- Select label -->
                                    <div class="item-title">Subcategory</div>
                                    <!-- Selected value, not required -->
                                    <div class="expense-subcategory-text item-after">{{model.SubcategoryText}} </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <!-- Additional "smart-select" class -->
                        <a href="#" class="item-link smart-select" data-back-on-select="true">
                            <!-- select -->
                            <select name="ExpenseAccountID" class="expense-account-list">
                                {{#each model.AccountGroups}}
                                {{#unless UserName}}
                                {{#each Accounts}}
                                <option value="{{AccountID}}">{{Name}}</option>
                                {{/each}}
                                {{else}}
                                <optgroup label="{{UserName}}">
                                    {{#each Accounts}}
                                    <option value="{{AccountID}}">{{Name}}</option>
                                    {{/each}}
                                </optgroup>
                                {{/unless}}
                                {{/each}}
                            </select>
                            <div class="item-content">
                                <div class="item-media"><i class="icon ion-ios-briefcase color-form-icon"></i></div>
                                <div class="item-inner">
                                    <!-- Select label -->
                                    <div class="item-title">Account</div>
                                    <!-- Selected value, not required -->
                                    <div class="item-after expense-account-list-text">{{model.AccountText}} </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon ion-social-usd color-form-icon"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Amount</div>
                                <div class="item-input">
                                    <input id="ExpenseAmount" name="ExpenseAmount" type="number" class="item-input" placeholder="Expense amount" value="{{model.Amount}}" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon ion-ios-list-outline color-form-icon"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Description</div>
                                <div class="item-input">
                                    <input type="text" name="ExpenseDescription" class="item-input" placeholder="Description" value="{{model.Description}}" />
                                </div>
                            </div>
                        </div>
                    </li>
                    {{#if model.ExpenseID}}
                    <li>
                        <a href="Pages/ExCommentList.html?expenseid={{model.ExpenseID}}" class="item-link item-content">
                            <div class="item-media"><i class="icon ion-chatbubble color-form-icon"></i></div>
                            <div class="item-inner">
                                <div class="item-title">Comments</div>
                                <div class="item-after"><span class="badge">{{model.Comments}}</span> </div>
                            </div>
                        </a>

                    </li>
                    {{/if}}

                </ul>
            </div>
            
            <div class="list-block accordion-list">
                <ul>
                    <li class="accordion-item">
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">Additional Details</div>
                            </div>
                        </a>
                        <div class="accordion-item-content">
                            <div class="content-block">
                                <ul>
                                   
                                    <li>
                                        <!-- Additional "smart-select" class -->
                                        <a href="#" class="item-link smart-select" data-back-on-select="true">
                                            <!-- select -->
                                            <select name="ExpenseRepeat" class="expense-repeat-list">
                                                {{#each model.RepeatTypes}}
                                                <option value="{{value}}">{{text}}</option>
                                                {{/each}}
                                            </select>
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon ion-refresh color-form-icon"></i></div>
                                                <div class="item-inner">
                                                    <!-- Select label -->
                                                    <div class="item-title">Repeat</div>
                                                    <!-- Selected value, not required -->
                                                    <div class="item-after">{{model.RepeatText}} </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <!-- Additional "smart-select" class -->
                                        <a href="#" class="item-link smart-select" data-back-on-select="true">
                                            <!-- select -->
                                            <select name="ExpenseEventID" class="expense-event-list">
                                                <option value=""></option>
                                                {{#each model.EventGroups}}
                                                {{#unless UserName}}
                                                {{#each Events}}
                                                <option value="{{EventID}}">{{Name}}</option>
                                                {{/each}}
                                                {{else}}
                                                <optgroup label="{{UserName}}">
                                                    {{#each Events}}
                                                    <option value="{{EventID}}">{{Name}}</option>
                                                    {{/each}}
                                                </optgroup>
                                                {{/unless}}
                                                {{/each}}
                                            </select>
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon ion-speakerphone color-form-icon"></i></div>
                                                <div class="item-inner">
                                                    <!-- Select label -->
                                                    <div class="item-title">Event</div>
                                                    <!-- Selected value, not required -->
                                                    <div class="item-after">{{model.EventText}} </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <!-- Additional "smart-select" class -->
                                        <a href="#" class="item-link smart-select" data-back-on-select="true">
                                            <!-- select -->
                                            <select name="ExpensePayeeID" class="expense-payee-list">
                                                <option value=""></option>
                                                {{#each model.Payees}}
                                                <option value="{{PayeeID}}">{{Name}}</option>
                                                {{/each}}
                                            </select>
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon ion-ios-person color-form-icon"></i></div>
                                                <div class="item-inner">
                                                    <!-- Select label -->
                                                    <div class="item-title">Payee</div>
                                                    <!-- Selected value, not required -->
                                                    <div class="item-after">{{model.PayeeText}} </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <!-- Additional "smart-select" class -->
                                        <a href="#" class="item-link smart-select" data-back-on-select="true">
                                            <!-- select -->
                                            <select name="ExpenseVendorID" class="expense-vendor-list">
                                                <option value=""></option>
                                                {{#each model.Vendors}}
                                                <option value="{{VendorID}}">{{Name}}</option>
                                                {{/each}}
                                            </select>
                                            <div class="item-content">
                                                <div class="item-media"><i class="icon ion-ios-location color-form-icon"></i></div>
                                                <div class="item-inner">
                                                    <!-- Select label -->
                                                    <div class="item-title">Vendor</div>
                                                    <!-- Selected value, not required -->
                                                    <div class="item-after">{{model.VendorText}} </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>
            </div> 
            <div class="list-block inset">

            <a href="#" class="button button-fill expense-save-more-link">Save and add more </a>
            </div>
</form>
        
