{{#.}}
	<li id="{{ExpenseID}}">
        <a href="Pages/Expense.html?id={{ExpenseID}}" class="item-link item-content">
            <div class="item-inner">
                <div class="item-title-row">
                    <div class="item-title">{{ExpenseDateText}}</div>
                    <div class="item-after">{{Amount}}</div>
                </div>
                <div class="item-subtitle">{{AccountText}}</div>
                <div class="item-subtitle">{{SubcategoryText}}</div>
            </div>
        </a>
</li>

{{/.}}