@model IEnumerable<Pocket.Models.Payee>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-2.0.3.js"></script>
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.src.js"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Quick View", "List")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.LoginID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.LoginID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PayeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PayeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PayeeID })
        </td>
    </tr>
}

</table>

