@model Pocket.Models.Expense

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Expense", FormMethod.Post, new { id = "CategoryFormID", 
          data_stateListAction = @Url.Action("SubcatList") })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Expense</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.AccountID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AccountID", string.Empty)
                @Html.ValidationMessageFor(model => model.AccountID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubcategoryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", string.Empty)
                @Html.DropDownList("SubcategoryID", string.Empty)
                @Html.ValidationMessageFor(model => model.SubcategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PayeeID, "PayeeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PayeeID", String.Empty)
                @Html.ValidationMessageFor(model => model.PayeeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpenseDate)
                @Html.ValidationMessageFor(model => model.ExpenseDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/QIE/CatSubcat.js"></script>
<script src="~/Scripts/QIE/DatePickerReady.js"></script>
